*{
    margin: 0%;
    padding: 0%;


}

#Cabeçalho{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: rgb(0, 234, 255);
    text-align: center;
    background-color: rgb(109, 76, 141);
    border: 5px solid rgb(0, 213, 255);


}

#Corpo{
        color: whitesmoke;
        border: 5px  solid rgb(0, 234, 255);
        padding: 5px 0px;
        background-color: rgb(109, 81, 135);


}

Body{
    background-color: black;

}

#Imagem{
    padding: 5px 50px;
    margin: 3px;
}

#Catalogo{
    background-color: rgb(178, 27, 228);

}

